.home{
    background: #EDEDED;
}

header{
    padding: 2rem 5rem;
    width: 60%;
    margin: 0 auto;
    transition: all .4s ease-in-out;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.7rem 1.5rem;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    background-color: #fff;
    cursor: pointer;
}

form{
    position: relative;
    width: 100%;
}

.input-control{
    position: relative;
    transition: all .4s ease-in-out;
}

.input-control input{
    width: 100%;
    padding: 0.7rem 1rem;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    background-color: #fff;
    border: 5px solid #e5e7eb;
    transition: all .4s ease-in-out;
}

.input-control button{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 1400px) {
    .search-form{
        display: none;
    }
}

@media (max-width: 460px) {
    h1{
        font-size: 20px;
        text-align: center;
    }
    button{
        padding: 0.5rem 1.2rem;
        font-size: 1rem;
    }
}